@import './src/shared/styles/bootstrap/index.scss';

.search-result-row {
  background-color: $white;
  cursor: pointer;
  font-size: $font-size-base;
  padding: 10px;
  z-index: 501;
  border-bottom: 1px dashed $gray-600;

  svg {
    width: 40px;
    height: 40px;
  }

  span {
    margin-right: 20px;
  }
}

@media (hover: hover) {
  .search-result-row:hover {
    box-shadow: inset 0px -1px 1px 0 $secondary;
  }
  .search-result-row.no-result {
    box-shadow: none;
  }
}
