@import 'shared/styles/bootstrap/_variables.scss';


.info-modal-button {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  padding: 5px;
}

.svg-inline--fa.fa-w-12 {
  width: 1.5em;
}

@media (hover: hover) {
  .info-modal-button:hover {
    color: $secondary;
    border: 1px solid $secondary;
    border-radius: 50%;
  }
}
