@import './src/shared/styles/bootstrap/index.scss';

.search-result-row {
  cursor: pointer;
  z-index: 501;

  background-color: white;

  svg {
    width: 40px;
    height: 40px;
  }
}

.search-result-row:hover {
  box-shadow: 0 2px 0 0 map-get($theme-colors, secondary);
}
