@import 'shared/styles/bootstrap/_variables.scss';

.condition {
  min-height: 100px;

  .condition {
    .switch-condition-row {
      margin-left: 80px;
    }

    .form-row__connection-container:not(.condition-connection) {
      .form-row__connection {
        border-color: $primary;
      }

      .form-row__connection:first-child {
        border-bottom: 5px double $primary;
      }
    }
    .condition-connection {
    }
  }

  .new-filter-row {
    font-weight: bold;
    justify-content: flex-start;
  }

  .control-button {
    margin: 0.25rem;
  }

  .control-button.dropdown.btn-group {
    margin: 0;
    padding: inherit 0;
  }

  .control-button.add-filter,
  .control-button.remove-add-filter {
    margin-left: 0;
  }
  .control-button,
  .control-button.btn,
  .control-button .dropdown-toggle,
  .control-button .dropdown-menu {
    font-weight: bold;
    min-width: 80px;
    max-width: 80px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    line-height: 38px;

    @include media-breakpoint-up(sm) {
      min-width: 100px;
      max-width: 120px;
      font-size: 25px;
      line-height: 38px;
    }
  }
  .control-button .dropdown-menu {
    background-color: lighten($success, 20%);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    a {
      font-weight: bold;
    }
  }
}
