@import 'shared/styles/bootstrap/_variables.scss';

.condition {
  width: 900px;

  @include media-breakpoint-up(xl) {
    width: 1100px;
  }

  .condition {
    border-left: 1px dotted black;
    margin-left: 40px;
    @include media-breakpoint-up(sm) {
      margin-left: 120px;
    }
  }

  .condition-control-column {
    align-items: flex-start;
  }

  .new-filter-row {
    font-weight: bold;
    justify-content: flex-start;
  }

  .control-button {
    margin: 0.25rem;
  }

  .control-button.dropdown.btn-group {
    margin: 0;
    padding: inherit 0;
  }

  .control-button.add-filter,
  .control-button.remove-add-filter {
    margin-left: 0;
  }
  .control-button,
  .control-button.btn,
  .control-button .dropdown-toggle,
  .control-button .dropdown-menu {
    font-weight: bold;
    min-width: 80px;
    max-width: 80px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;

    @include media-breakpoint-up(sm) {
      min-width: 100px;
      max-width: 120px;
    }
  }
  .control-button .dropdown-menu {
    background-color: lighten($success, 20%);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    a {
      font-weight: bold;
    }
  }
}
