@import 'shared/styles/bootstrap/index.scss';

.result-card.card {
  border: 1px solid $black;
  border-radius: 20px;
}

.summary-result-card {
  height: 100px;
  width: 100%;

  .1summary-result-card__label {
    flex: 0 1 100%;
    text-align: left;
  }

  .summary-result-card__result {
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 80px;
    text-align: right;
  }
}
