.my_dashboard__container {
    padding: 25px 50px 50px 25px;

    a {
        color: black
    }

    .my_dashboard__welcome_message {
        margin-bottom: 30px;
    }

    .my_dashboard__section_header {
        margin-bottom: 10px;
    }

    .my_dashboard__bookmark_section {
        margin-bottom: 30px;
        width: 100%;
    }
}