@import './src/shared/styles/bootstrap/index.scss';

.search-results {
  background-color: $gray-300;
  position: absolute;
  width: 100%;
  z-index: 502;

  .search-results__wrapper {
    outline-color: $input-btn-focus-color;
    outline-width: $input-btn-focus-width;
    background-color: $gray-300;
    margin: 0;
    position: absolute;
    width: 100%;
  }
}
