@import 'shared/styles/_variables.scss';

.lookup-show {
  .lookup-show__row-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-left: $lookup-padding-size;
      margin-right: 20px;
    }
  }

  .lookup-show__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    // AddressDisplay
    > div:first-child {
      max-width: 660px;
      width: 100%;
    }

    // Back to dashboard button
    > div:last-child {
      margin-left: $lookup-padding-size;
      @include media-breakpoint-up(md) {
        margin-left: auto;
      }
    }
  }

  .lookup-address-search {
    @extend %address-search;
  }

  .lookup-show__content-wrapper {
    display: block;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  .lookup-show__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: scroll;

    @include media-breakpoint-up(sm) {
      padding: 0 $lookup-padding-size;
    }
  }

  .lookup-show__tabs {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .lookup-table-tab,
  .result-card {
    border-radius: 6px;
    max-height: 40px;
    min-height: 0;
    height: 40px;
    flex: 0 0 140px;
    width: 140px;

    p,
    span {
      @extend %p2-font-size;
      margin: 0;
    }
  }

  .lookup-show__data-address {
    border-bottom: 1px dotted $black;
  }

  .lookup-show__data-header {
    svg {
      margin-right: 10px;
    }
  }

  .lookup-show__datatype-header {
    color: $gray-500;
    text-transform: uppercase;
    font-weight: bold;
  }
}
