@import 'shared/styles/bootstrap/_variables.scss';

.lookup-show {
  .lookup-show__property-column {
    background-color: $gray-700;
  }

  .summary-result-card {
    min-height: 80px;
    height: 80px;
  }
}
