@import 'shared/styles/_variables.scss';

.district-filter-section {
  .district-filter-section__title {
    @extend %p2-font-size;
    color: $black;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
