@import 'shared/styles/bootstrap/index.scss';

.advanced-search-form {
  button[type='submit'].btn {
    font-weight: bold;
    min-width: 100%;
    @include media-breakpoint-up(lg) {
      min-width: 240px;
    }
  }
}
