@import 'shared/styles/_variables.scss';

.advanced-search-form {
  &__heading {
    @extend %p1-font-size;
    font-family: $font-family-secondary;
    margin-bottom: 20px;
  }

  &__section {
    margin-bottom: 20px;
  }

  button[type='submit'].btn {
    font-weight: bold;
    min-width: 100%;
    @include media-breakpoint-up(lg) {
      min-width: 240px;
      max-width: 240px;
    }
  }

  .fieldset {
    max-height: 50px;
  }

  .form-group {
    margin-bottom: 0;
  }
}
