@import 'shared/styles/_variables.scss';

.geography-links {
  p {
    @extend %p3-font-size;
    font-weight: bold;
  }

  a {
    display: block;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
