@import 'shared/styles/bootstrap/_variables.scss';

.housingtype-summary-result-card.btn {
  border-radius: 1px;
  background-color: $housing-purple;
}

.housingtype-summary-result-card {
  max-width: 400px;
  width: 100%;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .housingtype-summary-result-card__wrapper,
  .housingtype-summary-result-card__inner-wrapper {
    flex: 1 1 100%;
  }

  .housingtype-summary-result-card__title {
    text-align: left;
  }

  p {
    margin: 0;
  }

  .summary-units {
    color: $gray-700;
  }

  &.active .summary-units {
    color: inherit;
  }
}
