@import 'shared/styles/_variables.scss';

.housingtype-section {
  .housingtype-section__label {
    @extend %p3-font-size;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
  }
}
