@import './src/shared/styles/bootstrap/index.scss';

.search-module {
  display: inline-block;
  height: 60px;
  position: relative;
  width: 400px;
}

.search-module,
.search-module .table-hover tbody tr:hover {
  z-index: 1000;
}

.search-module .table-hover tbody tr:hover {
  color: white;
}

@media screen and (orientation: portrait) {
  .search-module {
    right: $large-spacing;
    width: 200px;
  }
}
