.expandable-section {
  .expandable-section__above-fold {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .expandable-section__above-fold--element,
  .expandable-section__above-fold--icon {
    display: inline-block;
  }
}
