@import 'shared/styles/bootstrap/_variables.scss';

.layout .lookup-links {
  background-color: $info;
  p {
    color: $gray-800;
  }
  a.lookup-links__link {
    color: $primary;
    font-weight: bold;
    text-decoration: underline;
  }
}
