@import './src/shared/styles/bootstrap/index.scss';

.search-bar {
  z-index: 501;

  input.form-control.valued {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-bar__close,
  .search-bar__loading {
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 999;
  }

  .search-bar__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    svg {
      background-color: $white;
    }
  }
}
