@import 'shared/styles/bootstrap/_variables.scss';

select.form-control {
  color: $gray-600;
}
select.form-control.valued {
  color: $black;
}

input.form-control:focus,
input.form-control {
  color: $black;
}
input.form-control::placeholder {
  color: $gray-900;
}

.xl-form-control {
  border: 0;
  border-bottom: 4px dotted $gray-400;
  background-color: $white;
  height: calc(3.5rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
    line-height: 2.25;
  }
}

.xl-form-control:focus {
  background-color: $info;
  color: $primary;
}
