/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0px 10px $gray-600;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 20px;
}

.touch-left {
  @include media-breakpoint-up(md) {
    margin-left: -15px;
  }
}

.touch-right {
  margin-right: -15px;
}

.padding-xs-0 {
  @include media-breakpoint-between(xs, xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-sm-0 {
  @include media-breakpoint-between(sm, sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-xs-sm-0 {
  @include media-breakpoint-between(xs, sm) {
    padding-left: 0;
    padding-right: 0;
  }
}
