table {
  &:not(.fluid-table) {
    border: 0;
    @include media-breakpoint-up(xs) {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
  }

  td {
    @include media-breakpoint-up(xs) {
      max-width: 200px;
    }

    @include media-breakpoint-up(md) {
      max-width: 300px;
    }
  }
}
