@import 'shared/styles/_variables.scss';

/* globals */

p,
li,
span {
  @extend %p1-font-size;
  font-family: $font-family-secondary;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-primary;
}

h5,
h6 {
  font-family: $font-family-secondary;
}

button,
button.btn {
  @extend %p3-font-size;
}
