@import './bootstrap/index.scss';
@import './_layout.scss';
@import './_table.scss';
@import './_print.scss';
@import './_form.scss';
@import './_buttons.scss';
@import './_utility_classes.scss';
@import './_typography.scss';

body {
  padding: 0 !important;
}

.leaflet-container {
  a.btn-primary {
    color: white;
  }
}

ul {
  margin-bottom: 0;
}
