@import 'shared/styles/bootstrap/index.scss';

.alert-map-show {
  .geography-select-row {
    align-items: center;
    background-color: $gray-700;
    display: flex;
    @include media-breakpoint-up(lg) {
      max-height: 80px;
    }
  }

  .geography-select-row__icon {
    margin-left: -10px;
    @include media-breakpoint-up(lg) {
      margin-left: -40px;
    }
    text-align: right;
  }

  .advanced-search-placeholder {
    border: 1px solid $black;
    border-radius: 20px;
  }
}
