.lookup-profile-summary {
  .lookup-profile-summary__group {
    font-size: 18px;
  }
  .lookup-profile-summary__label {
    display: inline;
    font-weight: bold;
  }

  .lookup-profile-summary__label--block {
    display: block;
    font-weight: bold;
  }

  .lookup-profile-summary__value {
    display: inline;
    font-weight: normal;
  }
}
