.lookup-profile-summary.card {
  border: 0;
  background-color: transparent;
}

.lookup-profile-summary {
  .lookup-profile-summary__body {
    margin: 0 15px;
  }
  .lookup-profile-summary__group {
    font-size: 18px;
  }
}
