@import 'shared/styles/bootstrap/_variables.scss';

.property-section {
  background-color: $info;

  a {
    color: $primary;
    font-weight: bold;
    text-decoration: underline;
  }
}

.property-summary__table {
  @include media-breakpoint-up(xl) {
    // margin-left: -45px;
    // margin-right: -45px;
  }
}

.lookup-profile-summary.card {
  border: 0;
  background-color: transparent;
}

.lookup-profile-summary__geography-link {
  margin-left: -15px;
}

.lookup-profile-summary {
  .lookup-profile-summary__body {
    margin: 0 15px;
  }

  .table-header {
    color: $white;
  }

  .lookup-profile-summary__bottom-info {
    margin: 0 -15px;
  }

  .lookup-profile-summary__geography-link {
    a {
      color: $white;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  .lookup-profile-summary__geography-link:first-child {
  }

  .base-table {
    background-color: $white;
    padding: 20px;
  }
}
