@import 'shared/styles/bootstrap/_variables.scss';

.district-dashboard-show {
  .district-dashboard-container {
    padding: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 0 10px !important;
    }

    @include media-breakpoint-up(md) {
      padding: 0 40px !important;
    }
  }
  .district-dashboard-show__top-row__inner {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    .geography-select {
      width: 100%;
      @include media-breakpoint-up(sm) {
        margin-right: auto;
        width: initial;
      }
    }
  }
  .geography-select-row {
    align-items: center;
    background-color: $gray-300;
    display: flex;
    padding: 10px 0;

    @include media-breakpoint-up(sm) {
      padding: 20px 0;
    }
  }

  .district-dashboard-show__content {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  .district-dashboard-show__sidebar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 0 333px;
    width: 333px;
  }

  .district-dashboard-show__results-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: auto;
  }

  .district-dashboard-show__table {
    overflow-x: hidden;
  }

  .district-dashboard-show__results-container {
    margin-bottom: 40px;
  }

  .combineFilters__checkbox {
    label {
      color: $primary;
    }

    label:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  select.form-control {
    border: none;
  }

  .view-toggle__container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    @include media-breakpoint-up(xl) {
      align-items: flex-end;
    }
  }

  .view-toggle {
    cursor: pointer;
    min-width: 100px;
  }
}
