@import 'shared/styles/bootstrap/_variables.scss';

.alert-map-show {
  .geography-select-row {
    align-items: center;
    background-color: $gray-700;
    display: flex;

    div:first-child {
      margin-bottom: 10px;
    }
    @include media-breakpoint-up(md) {
      div:first-child {
        margin-bottom: 0px;
      }
    }
  }

  .geography-select-row__icon {
    margin-left: -10px;
    @include media-breakpoint-up(lg) {
      margin-left: -40px;
    }
    text-align: right;
  }

  .advanced-search-placeholder {
    border: 1px solid $black;
    border-radius: 20px;
  }
}
