@import 'shared/styles/_variables.scss';

.district-dashboard-show {
  margin-bottom: 40px;

  .district-dashboard-container {
    padding: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 0 10px !important;
    }

    @include media-breakpoint-up(md) {
      padding: 0 40px !important;
    }
  }

  .district-dashboard-show__top-row__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(sm) {
      align-items: flex-start;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .geography-select {
      padding-right: 15px;
      width: 100%;
      @include media-breakpoint-up(lg) {
        margin-right: auto;
        width: initial;
      }
    }
  }

  .district-dashboard-show__date-section {
    padding: 24px 0;
  }

  .district-dashboard-show__date-section__label {
    @extend %p2-font-size;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .district-dashboard-show__date-section__check,
  .district-dashboard-show__date-section__check label,
  .district-dashboard-show__date-section__check input {
    cursor: pointer;
    @extend %p3-font-size;
    color: $black;
    text-transform: capitalize;
  }
  .district-dashboard-show__date-section__check {
    color: $black;

    &:focus label,
    &:hover label {
      text-decoration: underline;
    }
  }

  .district-dashboard-show__housing-type-section {
    margin-bottom: 30px;
  }

  .geography-select-row {
    align-items: center;
    display: flex;
    padding: 10px 0;

    @include media-breakpoint-up(sm) {
      padding: 24px 0;
    }

    .geography-select__row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
    }

    .main-geography-select {
      margin-right: 16px;
      @include media-breakpoint-down(md) {
        min-width: initial;
      }
    }

    #geography-id-select {
      &,
      select {
        min-width: 70px;
      }
    }

    #geography-custom-select {
      min-width: 100px;
      @include media-breakpoint-up(sm) {
        min-width: initial;
      }
      @include media-breakpoint-up(md) {
        min-width: 100px;
      }
    }

    .custom-search-link {
      @extend %p3-font-size;
      font-weight: bold;
    }
  }

  .district-dashboard-show__content {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  .district-dashboard-show__sidebar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 0 333px;
    width: 333px;
  }

  .district-dashboard-show__results-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: auto;
  }

  .district-dashboard-show__table {
    overflow-x: hidden;
  }

  .district-dashboard-show__results-container {
    margin-bottom: 40px;
  }

  .combineFilters__checkbox {
    label {
      color: $primary;
    }

    label:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .district-dashboard-show__results-header {
  }

  .district-dashboard-show__map {
    position: relative;
  }

  .view-toggle__container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

    @include media-breakpoint-up(sm) {
      align-items: flex-end;
    }
  }

  .view-toggle {
    border: 2px solid $rhino;
    cursor: pointer;
    min-width: 100px;
  }
}
