@import 'shared/styles/_variables.scss';

.ownership-section {
  .ownership-section__hpdcontact-row {
    // color: white;
  }

  .ownership-section__hpdcontact__whoownswhat {
    display: flex;
    // align-items: center;
    // justify-content: center;

    a {
      text-decoration: none;
      // color: $white;
      max-width: 280px;
    }

    a:hover {
      // color: $white;
      text-decoration: none;
      b {
        color: $warning;
      }
    }

    b {
      text-decoration: underline;
    }
  }
}
