@import 'shared/styles/bootstrap/index.scss';

.sub-header {
  .navbar-brand {
    margin-right: 0;
  }
  .sub-header__logo {
    height: auto;
    width: 100%;
  }

  .sub-header__wrapper--top {
    height: 30%;
    justify-content: flex-end;
  }
  .sub-header__wrapper--bottom {
    height: 70%;
    align-items: flex-end;
  }

  .sub-header__nav-row {
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }

  .sub-header__nav-tab {
    @include media-breakpoint-up(sm) {
      flex: 0 0 32%;
      align-items: center;
      border-top-right-radius: 30px;
      background-color: $gray-400;

      display: flex;
      margin-right: 4px;
      padding: 0 20px;
      height: 80px;
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      min-width: 200px;
    }

    a {
      color: $gray-600;
      font-weight: bold;
    }
  }
}
