@import 'shared/styles/bootstrap/index.scss';

.sub-header {
  background-color: $logo-gray;

  .navbar-brand {
    margin-right: 0;
  }
  .sub-header__logo {
    height: auto;
    width: 100%;
  }

  .sub-header__wrapper--top {
    height: 40%;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
  }
  .sub-header__wrapper--bottom {
    height: 60%;
    align-items: flex-end;
  }

  .sub-header__auth-row {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .sub-header__auth-row,
  .sub-header__nav-row {
    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 40px;
    }
  }

  .sub-header__nav-tab {
    background-color: $gray-400;
    @include media-breakpoint-up(sm) {
      flex: 0 0 32%;
      align-items: center;
      border-top-right-radius: 30px;

      display: flex;
      margin-right: 4px;
      height: 70px;
      justify-content: center;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 0 200px;
      height: 70px;
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 240px;
      height: 80px;
    }

    a {
      color: $gray-600;
      font-weight: bold;
      padding: 0 20px;
    }
  }

  .sub-header__nav-tab.active {
    background-color: $tab-blue;
  }

  .sub-header__nav-tab.active a {
    border-left: 3px solid $secondary;
    color: $secondary;
  }
}
