@import 'shared/styles/_variables.scss';

.filter {
  margin-bottom: 40px;
  width: 100%;

  .form-row,
  .filter-component__wrapper {
    width: 100%;
  }

  .paramset__label {
    margin-left: 20px;
  }
  .paramset__label,
  .paramset--new-button {
    @extend %p3-font-size;
    margin-bottom: 0px;
  }

  .filter-control {
    margin: 0px 2px;
  }

  .filter-component__paramsets {
    padding: 10px 20px;
  }

  .filter-component__paramsets-wrapper {
    background-color: $white;
  }

  .modifying-paramset {
    // padding: 20px;
  }
}
