@import 'shared/styles/bootstrap/_variables.scss';

table.table,
.base-table,
.nested-table {
  table {
    background-color: $white;
  }
  thead th,
  tbody td {
    font-size: 0.8rem;

    input {
      height: 30px;
      padding: 0 10px;
    }
  }
  tbody tr {
    cursor: pointer;
    transition: all 0s linear;

    * {
      transition: all 0s linear;
    }
  }

  .table-sm td {
    padding: 5px;
  }
  tbody tr.expanding-row td:not(.table-column--active) {
    background-color: $gray-200;
    margin: 0;
    padding: 0;
  }
  tbody tr.expanding-row {
    margin: 0;
    padding: 0;
  }

  table:not(.no-expand) {
    tr:not(.expanding-row) td:not(.table-column--active):not(.react-bs-table-no-data):not(.nested-table-column):before {
      // content: '(+) ';
    }

    // Fixes bootstrap table 2 behavior,
    // do not expand row on all clicks!
    // only clicks to .expandable-cell
    td,
    tbody tr {
      pointer-events: none;
    }

    td a,
    .expandable-cell {
      pointer-events: all;
    }
  }

  @media (hover: hover) {
    table.no-expand {
      tr:hover {
        background-color: $primary;
        color: white;
      }
    }
    // tr:not(.expanding-row) td:not(.table-column--active):not(.react-bs-table-no-data):hover {
    //   background-color: $primary;
    //   color: white;
    // }
  }

  .table-column--active {
    background-color: $primary;
    color: white;
    // text-overflow: inherit;
    // white-space: normal;
    // overflow-x: hidden;
    // active
  }

  .table-column--active:before {
    // content: '(-) ';
  }

  .filter {
    min-width: initial;
  }

  .table-row--collapsed * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .table-row--expanded * {
    overflow-x: hidden;
  }

  .row-expansion-style,
  .reset-expansion-style {
    padding: 0;
  }

  .table-row--nested-bumper {
    padding-left: 10px;
    background-color: $gray-700;

    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
  }

  .table-row--expanded .table-column--description {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table-row--expanded .table-column--description:after {
    text-transform: capitalize;
    display: block;
    content: '(below)';
    font-weight: bold;
  }

  .table-header__share-column {
    cursor: pointer;
    color: $gray-400;
  }

  .table-header__share-column:hover {
    text-decoration: underline;
  }

  .page-link {
    padding: 5px 10px;
  }

  .dropdown-toggle {
    background-color: white;
    padding: 5px 10px;
  }

  .text-filter {
    margin-bottom: 0;
  }
}

.base-table .base-table {
  .expanded-row {
    background-color: $primary;
  }
}
.csv-button.btn {
  cursor: pointer;
  font-size: 16px;
}

.hide-filter {
  input {
    display: none;
  }
}

.table-filter-button-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80px;
  max-width: 220px;

  .table-filter-button {
    border-radius: 12px;
    border: 1px solid $gray-500;
    padding: 4px;
    line-height: 100%;
    margin: 4px 0;
    max-width: 100px;
  }

  @media (hover: hover) {
    .table-filter-button:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
