@import 'shared/styles/bootstrap/_variables.scss';

.base-table,
.nested-table {
  table {
    background-color: $white;
  }
  tbody tr {
    cursor: pointer;
  }

  .table-sm td {
    padding: 5px;
  }

  td:not(.table-column--active):not(.react-bs-table-no-data):before {
    content: '(+) ';
  }
  tr:not(.expanding-row) td:not(.table-column--active):not(.react-bs-table-no-data):hover {
    background-color: $primary;
  }

  .filter {
    min-width: initial;
  }

  .table-row--collapsed * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .table-row--expanded * {
    overflow-x: hidden;
  }

  .table-row--nested-bumper {
    margin-left: 10px;

    @include media-breakpoint-up(sm) {
      margin-left: 20px;
    }
  }

  .table-row--expanded .table-column--description {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .table-row--expanded .table-column--description:after {
    text-transform: capitalize;
    display: block;
    content: '(below)';
    font-weight: bold;
  }

  .table-column--active {
    background-color: $primary;
  }

  .table-column--active:before {
    content: '(-) ';
  }

  .table-header__share-column {
    cursor: pointer;
    color: $gray-400;
  }

  .table-header__share-column:hover {
    text-decoration: underline;
  }

  .page-link {
    padding: 5px 10px;
  }

  .dropdown-toggle {
    background-color: white;
    padding: 5px 10px;
  }
}
