@import 'shared/styles/_variables.scss';

.advanced-search {
  .advanced-search-form--container {
    overflow-x: hidden;
    padding: 0 80px;
  }

  .base-table {
    @include media-breakpoint-up(xl) {
      // width: 80vw;
    }
  }

  .geography-select__row {
    justify-content: flex-start;
  }

  .touch-left {
    padding-right: 0;
  }

  .sticky-section {
    position: sticky;
    top: 20px;
  }

  .paramset-wrapper {
    display: flex;
  }

  .paramset-wrapper:not(.modifying-paramset) {
    margin-bottom: 20px;
  }

  div.condition-control {
    padding: 0;
  }

  .condition.form-row {
    flex-wrap: nowrap;
  }

  .form-row__connection-container {
    flex: 0 1 40px;
  }

  .form-row__connection {
    display: inline-block;
    flex: 1 1 100%;
    width: 40px;
    border-left: 5px double $gray-400;
    margin-right: 40px;
  }

  .form-row__connection:first-child {
    border-bottom: 5px double $gray-400;
  }

  .advanced-search__left-column {
  }
  .advanced-search__sentence,
  .advanced-search__instructions {
    color: $white;
  }

  .btn-lg {
    @include media-breakpoint-down(xs) {
      line-height: 38px;
      padding: 0.5rem 0.25rem;
    }
  }

  // FORM COMPONENTS

  .input-group {
    width: auto;
    // margin-top: 10px;
  }

  .input-group-text {
    border-bottom: 4px solid transparent;
    color: $black;
  }

  // Page

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      min-height: 40px;
    }
  }

  &__toggle-button {
    flex-shrink: 0;
  }

  &__results-container {
    margin-bottom: 40px;
  }

  &__results-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__map {
    position: relative;
  }

  &__table {
    overflow-x: hidden;
  }

  &__results-header {
  }

  .view-toggle {
    border: 2px solid $rhino;
    cursor: pointer;
    min-width: 100px;
  }

  &__title {
    @extend %heading-md;
    color: $black;

    text-align: center;
    width: 100%;
    margin-bottom: 80px;
  }
}
