@import 'shared/styles/bootstrap/_variables.scss';

.advanced-search {
  .advanced-search-form--container {
    overflow-x: auto;
  }

  .paramset-wrapper,
  .form-row__container {
    width: 900px;

    @include media-breakpoint-up(xl) {
      width: 1100px;
    }
  }

  div.condition-control {
    padding: 0;
  }

  .condition.form-row {
    flex-wrap: nowrap;
  }

  .form-row__connection-container {
    flex: 0 1 40px;
  }

  .form-row__connection {
    display: inline-block;
    flex: 1 1 100%;
    width: 40px;
    border-right: 5px double $gray-400;
    margin-right: 40px;
  }

  .form-row__connection:first-child {
    border-bottom: 5px double $gray-400;
  }

  .condition-connection {
    .form-row__connection {
      border-right: 5px double $primary;
      margin-right: 0px;
    }

    .form-row__connection:first-child {
      border-bottom: 5px double $primary;
    }
  }

  .advanced-search__left-column {
    background-color: $gray-700;

    @include media-breakpoint-up(lg) {
      min-height: 100vh;
    }
  }
  .advanced-search__sentence,
  .advanced-search__instructions {
    color: $white;
  }

  .btn-lg {
    @include media-breakpoint-down(xs) {
      line-height: 38px;
      padding: 0.5rem 0.25rem;
    }
  }

  // FORM COMPONENTS

  .form-control,
  .form-control:focus,
  .input-group-text {
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
  }

  .input-group-text {
    border-bottom: 4px solid transparent;
  }
  .form-control,
  .form-control:focus,
  .input-group > .form-control {
    border-bottom: 4px dotted $gray-300;
  }
}
