@import 'shared/styles/bootstrap/_variables.scss';

.geography-marker__tooltip--COUNCIL {
  color: darken($primary, 20%);
}

.geography-marker__tooltip--COMMUNITY {
  color: darken($secondary, 20%);
}

.geography-marker__tooltip--ZIPCODE {
  color: darken($gray-500, 20%);
}

.geography-marker__tooltip--STATE_ASSEMBLY {
  color: darken($pink, 20%);
}

.geography-marker__tooltip--STATE_SENATE {
  color: darken($purple, 20%);
}

.geography-marker__tooltip {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
