@import 'shared/styles/bootstrap/index.scss';

.geography-marker__tooltip--COUNCIL {
  color: darken($primary, 20%);
}

.geography-marker__tooltip--COMMUNITY {
  color: darken($secondary, 20%);
}
.geography-marker__tooltip--COMMUNITY,
.geography-marker__tooltip--COMMUNITY:before,
.geography-marker__tooltip--COUNCIL,
.geography-marker__tooltip--COUNCIL:before {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
