@import './src/shared/styles/bootstrap/index.scss';

.search-module {
  display: inline-block;
  height: 60px;
  position: relative;
  width: 400px;
  z-index: 500;
}

@media screen and (orientation: portrait) {
  .search-module {
    right: $large-spacing;
    width: 200px;
  }
}
