@import './src/shared/styles/bootstrap/index.scss';

.address-search,
.address-search .table-hover tbody tr:hover {
  position: relative;
  z-index: 10000;
}

.address-search .table-hover tbody tr:hover {
  color: white;
}
