@import 'shared/styles/bootstrap/_variables.scss';

.expanded-row {
  border: 0;
  max-width: 300px;
  position: sticky;
  left: 0;
  display: block;
  background-color: $gray-700;
  @include media-breakpoint-up(sm) {
    max-width: 500px;
  }
  .expanded-row--wrapper {
    width: 100%;
    background-color: $gray-200;
    margin-left: 10px;
    @include media-breakpoint-up(sm) {
      margin-left: 20px;
    }
  }

  p {
    padding: 20px 40px;
    padding-left: 0;
  }
}
